<!DOCTYPE html>
{% extends "index.html" %}

{% block content %}
    <h1>About</h1>
    </p1>LightDogs is a Web App aimed at Pet Product Companies. By correlating light levels and tweets using the word
            'Dog', LightDogs can predict at what time marketing would be most effective for your business</p1>

    <h1>The Project</h1>
    </p1>This WebApp is the second part of Anna Bernbaum's Sensing and Internet of Things coursework. It was created
    between December 2018 and January 2019. The light data was collected usng a local sensor while the Twitter data was
    collected using an API. </p1>

    <h1>Structure</h1>
    </p1>The WebApp is structured as follows:
        <ul>
            <li>Timeline: This is a straightforward, interactive visualisation of the collected data.</li>
            <li>Analysis: The collected data was statistically analysed. This may be of use to Pet Product
                Companies wishing to complete more in depth work.</li>
            <li>Prediction: Want to know when to market your product? LightDogs will predict whether your selected time
                will be successful. </li>
            <li>Insights: Some deeper insights can be drawn from looking at the other words in the Tweets, this page is a
                word cloud showing the most commonly used words.</li>
        </ul>
    </p1>
{% endblock %}